<section id="login">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-6 m-auto">
        <h1>Login</h1>
        <!-- <div *ngIf="notifyMessage" class="alert alert-success">
          Some message
        </div> -->
        <div *ngIf="message" class="alert alert-success">
          {{message}}
        </div>
        <form [formGroup]="loginForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input formControlName="email" type="email" class="form-control" id="email">
            <div *ngIf="email.invalid && !email.pristine" class="alert alert-danger">
              <div *ngIf="email.errors.required">
                Email is required.
              </div>
              <div *ngIf="email.errors.forbiddenEmail">
                This email is not allowed!
              </div>
              <div *ngIf="email.errors.pattern">
                Must be valid email format!
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input formControlName="password" type="password" class="form-control" id="password">
            <div *ngIf="password.invalid && !password.pristine" class="alert alert-danger">
              <div *ngIf="password.errors.required">
                Password is required.
              </div>
              <div *ngIf="password.errors.minlength">
                Minimum length of password is 6 characters.
              </div>
            </div>
            <!-- <div 
              *ngIf="loginForm.errors?.sameAs && !password.pristine"
              class="alert alert-danger">
              Password  must be the same as email!
            </div> -->
          </div>
          <button (click)="login()" [disabled]="loginForm.invalid" type="submit"
            class="btn bwm-btn-main">Login</button>
        </form>
        <div *ngIf="error" class="alert alert-danger">
            {{error}}
        </div>
      </div>
    </div>
  </div>
</section>
