<section id="newPost">
    <div class="bwm-form">
      <div class="row">
        <div class="col-md-12">
          <h1 class="page-title">Create New Snippet</h1>
          <form #postForm="ngForm">
            <div class="form-group">
              <label for="title">Title</label>
              <input [(ngModel)]="newPost.title" name="title" required type="text" class="form-control" id="title">
            </div>
            <div class="form-group">
              <label for="title">Slug</label>
              <input [(ngModel)]="newPost.slug" name="slug" required type="text" class="form-control" id="slug">
            </div>
            <div class="form-group">
              <label for="title">Meta title</label>
              <input [(ngModel)]="newPost.metaTitle" name="metaTitle" required type="text" class="form-control" id="metaTitle">
            </div>
            <div class="form-group">
              <label for="title">Meta description</label>
              <input [(ngModel)]="newPost.metaDescription" name="metaDescription" required type="text" class="form-control" id="metaDescription">
            </div>
  
  
            <div class="form-group">
              <label for="html">content</label>
  
              <editor [init]="tinyConfig" [(ngModel)]="newPost.html" name="html"></editor>
  
            </div>
  
            <button type="button" (click)="createPost(postForm,newPost)" class="btn bwm-btn-main">Create
            </button>
          </form>
          <!-- <div *ngIf="errors.length > 0" class="alert alert-danger">
                <p *ngFor="let error of errors">
                  {{error.detail}}
                </p>
              </div> -->
        </div>
  
      </div>
    </div>
  </section>
  