<section id="newPost">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-title">Edit post</h1>
        <form #postForm="ngForm">
          <div class="form-group">
            <label for="title">Title</label>
            <input [(ngModel)]="newPost.title" name="title" required type="text" class="form-control" id="title">
          </div>
          <div class="form-group">
            <label for="title">Slug</label>
            <input [(ngModel)]="newPost.slug" name="slug" required type="text" class="form-control" id="slug">
          </div>
          
          <div class="form-group">
            <label for="title">Meta description</label>
            <input [(ngModel)]="newPost.meta_description" name="meta_description" required type="text"
              class="form-control" id="meta_description">
          </div>

          <app-editable-image (entityUpdated)="attachImageToPost($event)" [transformView]="transformImage"
            [entity]="newPost" [field]="'featureImage'" className="rental-image">
          </app-editable-image>

          <div class="form-group">
            <label for="category">Category</label>
            
            <tag-input [(ngModel)]="newPost.categories" [identifyBy]="'slug'" [displayBy]="'name'" name="categories">

              <tag-input-dropdown [showDropdownIfEmpty]="true" [displayBy]="'name'" [identifyBy]="'slug'"
                [autocompleteItems]="categoriesList">
                <ng-template let-item="item" let-index="index">
                  ({{ index }}) {{ item.slug }}: {{ item.name }}
                </ng-template>
              </tag-input-dropdown>

            </tag-input>

        
          </div>
          <div class="form-group">
            <label for="category">Tags</label>
            
            <tag-input [(ngModel)]="newPost.tags" [identifyBy]="'slug'" [displayBy]="'name'" name="tags">

              <tag-input-dropdown [showDropdownIfEmpty]="true" [displayBy]="'name'" [identifyBy]="'slug'"
                [autocompleteItems]="tagsList">
                <ng-template let-item="item" let-index="index">
                  ({{ index }}) {{ item.slug }}: {{ item.name }}
                </ng-template>
              </tag-input-dropdown>

            </tag-input>

        
          </div>

          <div class="form-group">
            <label for="title">Excerpt</label>
            <input [(ngModel)]="newPost.excerpt" name="excerpt" required type="text"
              class="form-control" id="excerpt">
          </div>

          <div class="form-group">
            <label for="title">Publish Date</label>
            <input type="text" placeholder="Datepicker" [(ngModel)]="newPost.publishAt" name="publishAt" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
          </div>

          <div class="form-group">
            <button type="button" (click)="openModal(addImageTemplate)" class="btn bwm-btn-main">Add Image
            </button>
          </div>

          <div class="form-group">
            <label for="html">content</label>

            <editor [init]="tinyConfig" [(ngModel)]="newPost.html" name="html"></editor>

          </div>
          <div class="form-group">
            <label for="html">Featured</label>

            <ui-switch [(ngModel)]="newPost.isFeatured" name="isFeatured"></ui-switch>

          </div>

          <button type="button" (click)="updatePost(postForm,newPost)" class="btn bwm-btn-main">Update
          </button>
        </form>
        <!-- <div *ngIf="errors.length > 0" class="alert alert-danger">
              <p *ngFor="let error of errors">
                {{error.detail}}
              </p>
            </div> -->
      </div>

    </div>
  </div>
</section>

<ng-template #addImageTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="file-manager">
      <div class="file-manager-left">

        <!--         <div class="dm-uploader-container">
          <div id="drag-and-drop-zone-image" class="dm-uploader text-center">
            <p class="file-manager-file-types">
              <span>JPG</span>
              <span>JPEG</span>
              <span>PNG</span>
              <span>GIF</span>
            </p>
            <p class="dm-upload-icon">
              <i class="fa fa-cloud-upload"></i>
            </p>
            <p class="dm-upload-text">Drag and drop files here or</p>
            <p class="text-center">
              <button class="btn btn-default btn-browse-files">Browse Files</button>
            </p>

            <a class="btn btn-md dm-btn-select-files">
              <input type="file" name="file" size="40" multiple="">
            </a>
            <ul class="dm-uploaded-files" id="files-image"></ul>
          </div>
        </div> -->

      </div>

      <div class="file-manager-right">
        <div class="file-manager-content">
          <div class="col-sm-12">
            <div class="row">
              <div id="image_file_upload_response">
                <div class="col-file-manager" *ngFor="let img of images">
                  <div class="file-box" (click)="selecteImage(img)" [ngClass]="{selected: isActive(img)}">
                    <div class="image-container">
                      <img [src]="img.url" alt="" class="img-responsive">
                    </div>
                    <span class="file-name">{{img.name}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" id="selected_img_file_id" value="63">
      <input type="hidden" id="selected_img_file_path" value="uploads/images/202008/image_750x_5f3fca37b07cc.jpg">
    </div>
  </div>
  <div class="modal-footer">
    <div class="file-manager-footer">
      <button type="button" (click)="addSelectedImage()" class="btn  bg-success text-white"
        style="display: inline-block;"><i class="fa fa-check"></i>&nbsp;&nbsp;Select image</button>
    </div>
  </div>
</ng-template>
