<section id="newPost">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-title">Create New Deal</h1>
        <form #postForm="ngForm">
          <div class="form-group">
            <label for="title">Title</label>
            <input [(ngModel)]="newPost.title" name="title" required type="text" class="form-control" id="title">
          </div>
          <div class="form-group">
            <label for="title">Deal</label>
            <input [(ngModel)]="newPost.deal" name="deal" required type="text" class="form-control" id="deal">
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <select class="custom-select" [(ngModel)]="newPost.category" name="category" >
              <option [value]="category.key" *ngFor="let category of categoriesList">{{category.value}}</option>

            </select>
          </div>
          <div class="form-group">
            <label for="title">Deal text</label>
            <input [(ngModel)]="newPost.dealText" name="dealText" required type="text" class="form-control" id="dealText">
          </div>
         
          <div class="form-group">
            <label for="title">link</label>
            <input [(ngModel)]="newPost.link" name="link" required type="text" class="form-control" id="link">
          </div>
          <div class="form-group">
            <label>Feature image</label>
            <app-image-upload (imageUploaded)="attachImageToPost($event)"></app-image-upload>
          </div>


      

          <button type="button" (click)="createPost(postForm,newPost)" class="btn bwm-btn-main">Create
          </button>
        </form>
        <!-- <div *ngIf="errors.length > 0" class="alert alert-danger">
              <p *ngFor="let error of errors">
                {{error.detail}}
              </p>
            </div> -->
      </div>

    </div>
  </div>
</section>
